<div class="ml-3">
  <button type="button" class="btn btn-primary" (click)="createCart()" [disabled]="active">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Novo Pedido
  </button>
  <button type="button" class="btn btn-success ml-2" (click)="finishCart()" [disabled]="!active">
    <i class="fa fa-check" aria-hidden="true"></i>
    Finalizar Pedido
  </button>
  <button type="button" class="btn btn-danger ml-2" (click)="cancelCart()" [disabled]="!active">
    <i class="fa fa-ban" aria-hidden="true"></i>
    Cancelar Pedido
  </button>
  <br><br>
  <div class="alert alert-primary col-11" role="alert">
    Crie um pedido e adicione um lanche ao carrinho. Para ingredientes adicionais, selecione o item do carrinho e clique no adicional
    desejado.
  </div>
</div>